<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>原图</string>
	<string>希勒湖</string>
	<string>水母湖</string>
	<string>天堂岛</string>
	<string>牛奶湖</string>
	<string>佩姬湾</string>
	<string>多巴哥岛</string>
	<string>吕宋岛</string>
	<string>泰姬陵</string>
	<string>好望角</string>
	<string>棕榈海滩</string>
	<string>米湖</string>
	<string>戈佐岛</string>
	<string>班公湖</string>
	<string>雪雾森林</string>
	<string>贝加尔湖</string>
	<string>黑海</string>
	<string>纳帕利海岸</string>
	<string>751</string>
	<string>798</string>
	<string>摩纳哥</string>
	<string>挪威峡湾</string>
	<string>秋叶原</string>
	<string>黑暗森林</string>
	<string>极光</string>
</array>
</plist>
