<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>original</string>
	<string>Lake Hillier</string>
	<string>Ongeim&apos;l Tketau</string>
	<string>ParadiseIsland</string>
	<string>Milk lake</string>
	<string>peggy&apos;s cove</string>
	<string>Tobago</string>
	<string>Luzon Island</string>
	<string>Taj Mahal </string>
	<string>Cape of Good Hope</string>
	<string>Fort Lauderdale</string>
	<string>Akureyri</string>
	<string>Gozo</string>
	<string>Bangong Lake</string>
	<string>Snow fog forest</string>
	<string>Lake Baikal</string>
	<string>Black Sea</string>
	<string>Napali Coast</string>
	<string>751</string>
	<string>798</string>
	<string>The Principality of Monaco</string>
	<string>Fiordland</string>
	<string>Akihabara</string>
	<string>Dark forest</string>
	<string>Aurora</string>
</array>
</plist>
